@rendermode InteractiveServer

@inject AuthenticationStateProvider AuthenticationStateProvider

<aside class="hidden md:block w-64 border-r border-slate-200 bg-white overflow-y-auto">
    <div class="p-4">
        <nav class="space-y-1 mb-3">
            <SideBarButton Href="/new" Icon="add">Create Project</SideBarButton>
        </nav>

        <h2 class="text-xs font-medium uppercase tracking-wide text-slate-500 mb-3">Projects</h2>
        <nav class="space-y-1">
            @foreach (var project in Projects)
            {
                var uri = $"/project/{project.Id}";
                <SideBarButton Href="@uri" Match="NavLinkMatch.Prefix">@project.Name</SideBarButton>
            }
        </nav>
        @if (HasMoreProjects)
        {
            <div class="mt-4 flex">
                <SecondaryButton Type="button" Variant="ButtonVariant.Neutral" @onclick="LoadMoreProjectsAsync" aria-label="Load more projects" disabled="@isLoadingMore">
                    @if (isLoadingMore)
                    {
                        <span class="material-symbols-outlined icons-default text-2xl animate-spin mx-auto">progress_activity</span>
                    }
                    else
                    {
                        <span class="flex-1 text-center">Load More</span>
                    }
                </SecondaryButton>
            </div>
        }
    </div>
</aside>
