@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <Paper Class="max-w-md w-full space-y-8">
            <div class="mb-4">
                <span class="material-symbols-outlined icons-default text-6xl text-rose-600">error</span>
            </div>
            <h1 class="text-2xl font-semibold text-neutral-100 mb-2">Invalid user</h1>
            <StatusMessage/>
    </Paper>
</div>
