@page "/Account/RegisterConfirmation"
@using CMS.Main.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject IDbContextConcurrencyHelper ConcurrencyHelper

<PageTitle>Register confirmation</PageTitle>

<div class="min-h-screen bg-neutral-900 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="rounded-xl border border-neutral-800 bg-linear-to-b from-neutral-800 to-neutral-800/90 shadow-sm p-6 text-center">
            <StatusMessage Message="@statusMessage"/>
            <div class="mb-4">
                <span class="material-symbols-outlined icons-default text-6xl text-purple-500">send</span>
            </div>
            <h1 class="text-2xl font-semibold text-neutral-100 mb-2">Check your email</h1>
            <p class="text-sm text-neutral-400 mb-4" role="alert">
                Please check your email to confirm your account.
            </p>
        </div>
    </div>
</div>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await ConcurrencyHelper.ExecuteAsync(_ => UserManager.FindByEmailAsync(Email));
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
    }

}