@inherits LayoutComponentBase
@layout Layout.MainLayout

<h1 class="text-2xl font-semibold mb-4 text-neutral-100">Manage your account</h1>
<div class="flex max-w-screen-lg mx-auto gap-4">
    <div class="w-64 min-w-[16rem] bg-neutral-800 border border-neutral-700 rounded-lg p-4 flex-shrink-0">
        <ManageNavMenu/>
    </div>
    <main class="flex-1">
        <div class="p-4 bg-gradient-to-br from-neutral-800 to-neutral-900 rounded-lg border border-neutral-700 shadow-lg">
            @Body
        </div>
    </main>
</div>