@inherits LayoutComponentBase
@layout Layout.MainLayout

<div class="p-4">
    <h1 class="text-2xl font-semibold mb-6 text-neutral-100">Manage your account</h1>
    <div class="flex flex-col">
        <div class="flex gap-1 border-b border-neutral-800">
            <ManageNavMenu/>
        </div>
        <main class="flex-1 pt-6">
            @Body
        </main>
    </div>
</div>