@using CMS.Main.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<ul class="flex flex-col gap-2">
    <li>
        <NavLink class="flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 w-full ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 whitespace-nowrap" href="Account/Manage" Match="NavLinkMatch.All" aria-label="Profile">Profile</NavLink>
    </li>
    <li>
        <NavLink class="flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 w-full ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 whitespace-nowrap" href="Account/Manage/Email" aria-label="Email">Email</NavLink>
    </li>
    <li>
        <NavLink class="flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 w-full ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 whitespace-nowrap" href="Account/Manage/ChangePassword" aria-label="Password">Password</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li>
            <NavLink class="flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 w-full ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 whitespace-nowrap" href="Account/Manage/ExternalLogins" aria-label="External logins">External logins</NavLink>
        </li>
    }
    <li>
        <NavLink class="flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 w-full ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 whitespace-nowrap" href="Account/Manage/TwoFactorAuthentication" aria-label="Two-factor authentication">Two-factor authentication</NavLink>
    </li>
    <li>
        <NavLink class="flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 w-full ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 whitespace-nowrap" href="Account/Manage/PersonalData" aria-label="Personal data">Personal data</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

}