@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var isError = DisplayMessage.StartsWith("Error");
    var statusClass = isError ? "status-error" : "status-success";
    var iconName = isError ? "error" : "check_circle";
    
    <div class="@statusClass" role="alert">
        <span class="material-symbols-outlined icons-default text-base mr-2">@iconName</span>
        @DisplayMessage
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
        messageFromCookie = HttpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

        if (messageFromCookie is not null)
        {
            HttpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
        }
    }

}