@rendermode InteractiveServer

<div class="flex items-center justify-between mb-3">
    <h2 class="text-lg font-medium text-neutral-100">Schemas</h2>
    <PrimaryButton Type="button" Variant="ButtonVariant.Primary" Icon="add" @onclick="OpenAddSchemaModal">Add Schema</PrimaryButton>
</div>

@if (Schemas.Count > 0)
{
    <Table>
        <TableHead>
            <TableRow>
                <TableHeader>Name</TableHeader>
                <TableHeader Class="text-right">Actions</TableHeader>
            </TableRow>
        </TableHead>
        <TableBody>
        @foreach (var schema in Schemas)
        {
            <TableRow>
                <TableData>@schema.Name</TableData>
                <TableData Class="text-right flex gap-4 justify-end">
                    <ButtonGroup>
                        <LinkButton Href="@($"/schema/{schema.Id}/entries")" Variant="ButtonVariant.Neutral" Icon="arrow_forward" aria-label="View entries">View Entries</LinkButton>
                        <LinkButton Href="@($"/schema/{schema.Id}")" Variant="ButtonVariant.Primary" Icon="edit" aria-label="Edit schema">Edit</LinkButton>
                        <PrimaryButton Type="button" Variant="ButtonVariant.Danger" Icon="delete" OnClick="() => OnDeleteSchemaAsync(schema)" aria-label="Delete schema">Delete</PrimaryButton>
                    </ButtonGroup>
                </TableData>
            </TableRow>
        }
        </TableBody>
    </Table>
}
else
{
    <div class="text-neutral-400 text-sm">No schemas found for this project.</div>
}

<CreateSchemaModal @ref="createSchemaModal" ProjectId="@ProjectId" OnSchemaCreated="HandleSchemaCreated" />
