<Table>
    <TableHead>
        <TableRow>
            <TableHeader Class="font-mono text-xs">ID</TableHeader>
            <TableHeader>Name</TableHeader>
            <TableHeader>Created</TableHeader>
            <TableHeader>Status</TableHeader>
            <TableHeader Class="text-right">Actions</TableHeader>
        </TableRow>
    </TableHead>
    <TableBody>
        @if (ApiKeys.Any())
        {
            foreach (var key in ApiKeys)
            {
                <TableRow>
                    <TableData Class="font-mono text-xs whitespace-nowrap">@key.Id</TableData>
                    <TableData Class="truncate max-w-[240px]">@key.Name</TableData>
                    <TableData Class="whitespace-nowrap">@key.CreatedAt.ToString("g")</TableData>
                    <TableData>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="sr-only peer" checked="@key.IsActive" @onchange="e => OnToggleKeyState(key, e.Value)" />
                            <div class="size-6 bg-neutral-600 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-purple-500 rounded-full peer dark:bg-neutral-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border after:border-neutral-500 after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-neutral-600 peer-checked:bg-emerald-500 peer-checked:border-emerald-500 peer:bg-rose-600 peer:border-rose-600 peer-not-checked:bg-rose-600 peer-not-checked:border-rose-600"></div>
                        </label>
                    </TableData>
                    <TableData Class="text-right flex gap-2 justify-end">
                        <PrimaryButton Variant="ButtonVariant.Danger" Icon="delete" @onclick="() => OnDeleteKey(key)" aria-label="Delete API Key">Delete</PrimaryButton>
                    </TableData>
                </TableRow>
            }
        }
        else
        {
            <TableRow>
                <TableData Class="px-3 py-4 text-neutral-400 text-sm" colspan="5">No API keys yet.</TableData>
            </TableRow>
        }
    </TableBody>
</Table>

<div class="hidden whitespace-pre"></div>