@page "/{projectId:guid}/manageapikeys"
@rendermode InteractiveServer

@attribute [Authorize]

@if (ProjectDto is not null)
{
    <BackButton Href="@($"/project/{ProjectId}")" Text="Back to Project" />

    <Paper Class="mt-4">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-lg font-medium text-neutral-100">API Keys</h1>
            <PrimaryButton Type="button" Variant="ButtonVariant.Primary" Icon="add" @onclick="OpenCreateModal">New API Key</PrimaryButton>
        </div>

        <ApiKeyTable ApiKeys="ProjectDto.ApiKeys" />
    </Paper>

    <ApiKeyCreateForm @ref="createModal" ProjectId="@ProjectId.ToString()" OnSuccess="HandleApiKeyCreated" />
}
else
{
    <BackButton />
}

