@page "/entry/{entryId:guid}/edit"
@rendermode InteractiveServer

@if (hasAccess)
{
    <BackButton Href="@($"/schema/{Entry?.SchemaId}/entries")" Text="Back to Entries" />
    <StatusIndicator @ref="statusIndicator" />
    
    <Paper>
        <h2 class="text-sm font-medium text-slate-900 mb-3">Update entry</h2>
        @if (Entry is not null)
        {
            <DynamicEntryForm Properties="Entry.Schema.Properties" InitialValues="Entry.Properties.Values.ToList()" OnValidSubmit="UpdateEntry" />
        }
    </Paper>
}
else
{
    <BackButton />
    <Paper>
        <StatusIndicator
            InitialMessage="You do not have access to this resource or it does not exist."
            InitialSeverity="StatusIndicator.StatusSeverity.Error" />
    </Paper>
}
