@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<div class="max-w-5xl">
    <StatusMessage/>
    <div class="max-w-md">
        <p class="text-sm text-neutral-400 mb-2">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <div class="bg-rose-600/10 border border-rose-600/20 text-rose-400 text-xs p-3 rounded-md mb-4 flex items-center">
            <span class="material-symbols-outlined icons-default text-base mr-2">warning</span>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </div>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken/>
            <ButtonGroup>
                <PrimaryButton Type="submit" Variant="ButtonVariant.Primary" Icon="download" aria-label="Download">Download</PrimaryButton>
                <LinkButton Variant="ButtonVariant.Danger" aria-label="Delete" Href="Account/Manage/DeletePersonalData">Delete</LinkButton>
            </ButtonGroup>
        </form>
    </div>
</div>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }

}