@page "/schema/{schemaId:guid}"
@rendermode InteractiveServer

@attribute [Authorize]

<BackButton Href="@($"/project/{Schema.ProjectId}")" Text="Back to Project" /> 

<div class="rounded-lg border border-slate-200 bg-white shadow-sm p-4 mb-4 max-w-screen-lg mx-auto">
    <div class="flex items-center justify-between mb-3">
        <h2 class="text-lg font-medium">
            @Schema.Name
        </h2>

        @if (createForm?.FormVisible == false)
        {
            <div class="flex items-center gap-2">
                <button
                    class="inline-flex items-center justify-center rounded-md font-medium bg-blue-600 text-white hover:bg-blue-700 text-sm px-3 py-2 focus:ring-2 focus:ring-blue-500"
                    aria-label="Create Property" @onclick="() => createForm?.ShowForm()">
                    <span class="material-symbols-outlined icons-default text-base mr-2">add</span>
                    Create Property
                </button>
            </div>
        }
    </div>

    <StatusIndicator @ref="statusIndicator"/> 
    
    <PropertyCreateForm Schema="Schema" OnHide="StateHasChanged" @ref="createForm"/>
            
    <ViewSchemaPropertiesTable Schema="Schema" OnEditProperty="TriggerEditProperty"/> 
</div>