@page "/schema/{schemaId:guid}"
@rendermode InteractiveServer

@attribute [Authorize]

@if (hasAccess)
{
    <BackButton Href="@($"/project/{Schema.ProjectId}")" Text="Back to Project" />

    <Paper>
        <div class="flex items-center justify-between mb-3">
            <h2 class="text-lg font-medium">
                @Schema.Name
            </h2>

            @if (!createFormVisible && !updateFormVisible)
            {
                <div class="flex items-center gap-2">
                    <button
                        class="inline-flex items-center justify-center rounded-md font-medium bg-blue-600 text-white hover:bg-blue-700 text-sm px-3 py-2 focus:ring-2 focus:ring-blue-500"
                        aria-label="Create Property" @onclick="ShowCreateForm">
                        <span class="material-symbols-outlined icons-default text-base mr-2">add</span>
                        Create Property
                    </button>
                </div>
            }
        </div>

        <PropertyCreateForm Schema="Schema" OnSuccess="HideCreateForm" OnCancel="HideCreateForm" @ref="createForm" Visible="createFormVisible" />
        <PropertyUpdateForm Schema="Schema" OnSuccess="HideUpdateForm" OnCancel="HideUpdateForm" @ref="updateForm" Visible="updateFormVisible" />
        <ViewSchemaPropertiesTable Schema="Schema" OnEditProperty="ShowUpdateForm"/>
    </Paper>
}
else
{
    <BackButton/>
}


