@page "/schema/{schemaId:guid}"
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>CMS - Schema</PageTitle>

@if (Schema is not null)
{
    <BackButton Href="@($"/project/{Schema.ProjectId}")" Text="Back to Project" />

    <Paper Class="mt-4">
        <div class="flex items-center justify-between mb-3">
            <PageHeader>@Schema.Name <Tag Value="@Schema.ProjectId">@Schema.ProjectId</Tag></PageHeader>

            <div class="flex items-center gap-4">
                <PrimaryButton Type="button" Variant="ButtonVariant.Primary" Icon="add" aria-label="Create Property" @onclick="OpenCreatePropertyModal">Create Property</PrimaryButton>
            </div>
        </div>

        <ViewSchemaPropertiesTable Schema="Schema" OnEditProperty="OpenUpdatePropertyModal"/>
    </Paper>
    
    <PropertyCreateForm Schema="Schema" OnPropertyCreated="HandlePropertyCreated" @ref="createPropertyModal" />
    <PropertyUpdateForm Schema="Schema" OnPropertyUpdated="HandlePropertyUpdated" @ref="updatePropertyModal" />
}
else
{
    <BackButton/>
}


