@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1 class="text-2xl font-semibold text-neutral-100">Hello, world!</h1>

<p class="text-sm text-neutral-100">Welcome to your new app.</p>
